In [37]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy import stats

data_df = pd.read_csv('Data Carrard et al. 2022 MedTeach.csv').drop(columns='id')
data_describe = pd.read_csv('Codebook Carrard et al. 2022 MedTeach.csv', sep=';')
newnames = ["depression", "anxiety", "exhaustion", "cynicism", "efficacy"]
data_df.columns = list(data_df.columns[:14]) + newnames + list(data_df.columns[19:])

for i in range(len(data_df)):
    if data_df['jspe'][i] < 80:
        data_df['jspe'][i] = None
    
    if data_df['qcae_cog'][i] < 30:
        data_df['qcae_cog'][i] = None

    if data_df['depression'][i] > 50:
        data_df['depression'][i] = None

data_df = data_df.dropna(axis = 0)

C:\Users\박채윤\AppData\Local\Temp\ipykernel_24072\255594912.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_df['depression'][i] = None
C:\Users\박채윤\AppData\Local\Temp\ipykernel_24072\255594912.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_df['jspe'][i] = None

In [38]:
mental_measures = ["depression", "anxiety", "exhaustion", "cynicism", "efficacy"]
gender_column = "sex"
mental_data = data_df[mental_measures + [gender_column]]

In [39]:
man = mental_data[mental_data[gender_column] == 1]
woman = mental_data[mental_data[gender_column] == 2]

In [40]:
man.describe()

       depression     anxiety  exhaustion    cynicism    efficacy    sex
count  269.000000  269.000000  269.000000  269.000000  269.000000  269.0
mean    13.776952   38.178439   15.531599    9.940520   24.501859    1.0
std      9.521895   11.379058    5.233710    4.569957    4.750196    0.0
min      0.000000   20.000000    5.000000    4.000000   10.000000    1.0
25%      7.000000   29.000000   12.000000    6.000000   21.000000    1.0
50%     12.000000   37.000000   16.000000    9.000000   24.000000    1.0
75%     19.000000   46.000000   19.000000   13.000000   28.000000    1.0
max     50.000000   77.000000   30.000000   24.000000   36.000000    1.0

In [41]:
woman.describe()

       depression     anxiety  exhaustion    cynicism    efficacy    sex
count  599.000000  599.000000  599.000000  599.000000  599.000000  599.0
mean    19.609349   44.914858   17.415693   10.011686   24.191987    2.0
std     11.275553   11.529130    5.089745    4.486866    4.492082    0.0
min      0.000000   20.000000    5.000000    4.000000   11.000000    2.0
25%     10.000000   37.000000   14.000000    7.000000   21.000000    2.0
50%     18.000000   45.000000   17.000000    9.000000   24.000000    2.0
75%     27.000000   53.000000   21.000000   13.000000   28.000000    2.0
max     49.000000   76.000000   30.000000   24.000000   36.000000    2.0

In [42]:
from scipy.stats import ttest_ind

mental_results = {}

for measure in mental_measures:
    
    group1 = mental_data[mental_data[gender_column] == 1][measure] #man
    group2 = mental_data[mental_data[gender_column] == 2][measure] #woman

    t_stat, p_value = ttest_ind(group1, group2, nan_policy='omit')

    mental_results[measure] = {'t-statistic': t_stat, 'p-value': p_value}

In [43]:
mental_results_df = pd.DataFrame(mental_results).transpose()
mental_results_df.columns = ['T-Statistic', 'P-Value']

mental_results_df

            T-Statistic       P-Value
depression    -7.382890  3.636891e-13
anxiety       -7.992955  4.197037e-15
exhaustion    -4.999364  6.962152e-07
cynicism      -0.214862  8.299255e-01
efficacy       0.923128  3.561977e-01

In [44]:
test_measures = ['jspe', 'qcae_cog', 'qcae_aff', 'amsp']
gender_column = "sex"
test_data = data_df[test_measures + [gender_column]]
man = test_data[test_data[gender_column] == 1].describe()
woman = test_data[test_data[gender_column] == 2].describe()

In [45]:
woman

             jspe    qcae_cog   qcae_aff        amsp    sex
count  599.000000  599.000000  599.00000  599.000000  599.0
mean   107.091820   59.026711   36.06177   22.732888    2.0
std      8.382171    6.584614    4.98773    4.952831    0.0
min     80.000000   37.000000   21.00000    6.000000    2.0
25%    102.000000   55.000000   33.00000   20.000000    2.0
50%    108.000000   59.000000   36.00000   23.000000    2.0
75%    113.000000   64.000000   40.00000   26.000000    2.0
max    125.000000   75.000000   48.00000   35.000000    2.0

In [46]:
test_results = {}

for measure in test_measures:
  
    group1 = test_data[test_data[gender_column] == 1][measure] #man
    group2 = test_data[test_data[gender_column] == 2][measure] #woman

    t_stat, p_value = ttest_ind(group1, group2, nan_policy='omit')

    test_results[measure] = {'t-statistic': t_stat, 'p-value': p_value}

In [47]:
test_results_df = pd.DataFrame(test_results).transpose()
test_results_df.columns = ['T-Statistic', 'P-Value']

test_results_df

          T-Statistic       P-Value
jspe        -2.745458  6.167848e-03
qcae_cog    -3.395734  7.155902e-04
qcae_aff   -11.301166  1.013551e-27
amsp         3.688000  2.401121e-04

In [52]:
test_measures = ['jspe', 'qcae_cog', 'qcae_aff', 'amsp']
depression_column = "depression"

test_data = data_df[test_measures + [depression_column]]

In [49]:
test_results = {}

for measure in test_measures:

    group1 = test_data[test_data[depression_column] >= 16][measure]
    group2 = test_data[test_data[depression_column] < 16][measure] 

    t_stat, p_value = ttest_ind(group1, group2, nan_policy='omit')

    test_results[measure] = {'t-statistic': t_stat, 'p-value': p_value}

In [50]:
test_results_by_depression_df = pd.DataFrame(test_results).transpose()

test_results_by_depression_df.columns = ['T-Statistic', 'P-Value']
test_results_by_depression_df

          T-Statistic       P-Value
jspe        -2.620931  8.921828e-03
qcae_cog    -1.034800  3.010497e-01
qcae_aff     5.846372  7.099771e-09
amsp        -3.683276  2.444534e-04

In [56]:
lower_classes = [1, 2, 3]
upper_classes = [4, 5, 6]

lower_class_data = data_df[data_df['year'].isin(lower_classes)]
upper_class_data = data_df[data_df['year'].isin(upper_classes)]

measures = ['jspe', 'qcae_cog', 'qcae_aff', 'amsp', "depression", "anxiety", "exhaustion", "cynicism", "efficacy"]

test_results = {}

for measure in measures:
    lower_class_scores = lower_class_data[measure]
    upper_class_scores = upper_class_data[measure]
    
    t_stat, p_value = ttest_ind(lower_class_scores, upper_class_scores)

    test_results[measure] = {'t-statistic': t_stat, 'p-value': p_value}

pd.DataFrame(test_results).T

            t-statistic       p-value
jspe          -6.796271  1.990054e-11
qcae_cog      -1.003752  3.157768e-01
qcae_aff      -1.045953  2.958730e-01
amsp           0.762910  4.457234e-01
depression     6.231105  7.204580e-10
anxiety        4.301302  1.890095e-05
exhaustion     7.445787  2.316530e-13
cynicism      -3.370843  7.823555e-04
efficacy       0.635178  5.254790e-01